{% extends 'core_base.html' %} {% load static %}{% block link %}
<link rel="stylesheet" href="{% static 'post/css/post_home.css' %}" type="text/css"> {% endblock %}
{% block title %}<title>Home</title>{% endblock %} {% block left %}
<div class="right_menu">
  <a href="{% url 'post:listpost' %}">MY post</a>
</div>
{% endblock %} {% block body %} {% if object_list %} {% for post in object_list %}
<div class="card">
  <div class="card-header text-monospace">
    <img class="rounded-circle mr-3" src="{{ post.userprofile.profile_pic.url }}" alt="" height="40" width="40">{{ post.userprofile }}
  </div>
  {% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top" alt=""> {% else %}
  <img src="{% static 'post/img/no_image.png' %}" class="card-img-top" alt="">
  {% endif %}
  <div class="card-body">
    <div class="btn-group btn-group-lg " id="post_like_cmmnt" role="group">
      <button class="w-3" v-bind:class={btn-primary : Like}  v-on:click="Like = !Like" type="button" name="button">Like</button>
      <button class="w-30" type="button" name="button">Comment</button>
      <button class="" type="button" name="button">Share</button>
    </div>
    <hr>
    <h1 class="card-title">{{ post }}</h1>
    <p class="card-text">{{ post.containt }}<p>
    {% if comment %}
    {% for key, value in comment.items %}
    {% if key == post.slug %}
     {% for img in value.post_comment %}
    <div class="bg-info comment_section">
      <p class="card-text "><img src="{{ value.post_userprofile.profile_pic.url }}" class="rounded-circle mr-3"alt="" height="40" width="40">{{ img }}</p> <hr> </div>
    {% endfor %}{% endif %}{% endfor %}{% endif %}
    <div class="card-footer">
      <!-- <p class="card-text" class= "">{{ posts.post_object.id }}<p> -->
      <span class="d-none">{{ post.id }}</span>
      <form class="comment-form">
        <label for="comment" class="sr-only" >comment</label>
        <input type="text" id="comment" placeholder="comment" class="col-10">
        <button type="submit" role="submit" class="btn btn-primary" name="button">submit</button>
      </form>
    </div>
  </div>
</div>
{% endfor %}{% endif %}
<nav>
<ul class="pagination">
    <!-- <span class="step-links"> -->
        {% if page_obj.has_previous %}
        <li class="page-item disabled">
            <a href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
        {% endif %}
        <!-- <span class="current"> -->
        <li class="page-item ">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        <!-- </span> --></li>
        {% if page_obj.has_next %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}
    <!-- </span>  -->
  </ul>
    </nav>{% endblock %}
    {% block right %}
<div class="right_menu">
  <a href="{% url 'post:createpost' %}">Create post</a>
  <a href="">Create Update</a>
  <a href="#">Create Delete</a>
</div>
{% endblock %}
{% block script %}
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> -->

</script>
<script type="text/javascript">
//comment submit script
$(".comment-form").each(function(){
  $(this).submit(function(e){
     e.preventDefault();
     var update_comment = $(this).find("input").val();
     $(this).find("input").val("");
     var object_id = $(this).parent().find("span").text();
     var url = "{% url "post:post_comment_post" %}";
     $.ajax({
       url: url ,
       dataType: "json",
       type: "POST",
       data:{
         comment: update_comment ,
         object_id:  object_id ,
         csrfmiddlewaretoken: "{{ csrf_token }}",
       },
      success: function(data){

        console.log("success")
       }
     });
  });
});
// comment submit script end

//comment refresh
// $(window).load(){
//   $(".comment-form").each(function(){
//     setInterval( function(){
//   $.ajax({
//     url: //somthing,
//     type: "GET",
//     success: function(data){
//
//     },
//   })
// },300);
// };
// };
//comment refresh end

// like posts

$(".post_like").each(function(){
  $(this).click(function(){
    $(this).toggleClass("btn-primary")
    var object_id = $(this).parent().siblings("div").children("span").text();
    var url = "{% url 'api:likedboolapi' %}";

    $.ajax({
      url: url,
      dataType: "json",
      type: "POST",
      data:{
        like : "True",
        object_id:  object_id ,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success(){
        console.log("sucess")
      }
    });
  });
});

</script>
<script type="text/javascript" src="{% static 'post/js/post_like.js' %}">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>


</script>
{% endblock %}
