<!DOCTYPE html>{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
<div id="test_case">
  <h1>test_case veu</h1>
  <input type="text" name="" v-model="test_var">
  {{test_var}}
[[test_var]]
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<!-- <script type="text/javascript" src="{% static 'post/js/post_like.js' %}"></script>
</body> -->

</html>

<script type="text/javascript">
var test = new Vue({
  delimiters: ['[[', ']]'],
  el: "#test_case",
  data:{
    test_var: "biswa"

  }
});
</script>
